{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "empleado/menu.html" %}
{%endblock %}
{% block contenido %}
<h3 class="text-center mt-3 fw-bold">MÓDULO EMPLEADO</h3>
<br />
<div class="row" style="margin: 0 auto !important; width: 55%">  
  <div class="col-sm">
    <a href="/vistaSolicitud/">
      <div class="text-center icon" style="font-size: 8rem;">
        <i class="fa fa-list fa-fade"></i>
      </div>
    </a>
    <div class="text-center fw-bold">Añadir Solicitud</div>
  </div>
 
  
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
